/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Oswald:wght@400;500&display=swap');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

    /* General Settings */
    body, ul, li, h1, h2, a, div, nav, p, form{
      margin: 0;
      padding: 0;
    }

    /* Begin Body */
    body{
      background-color: #f5f3f1;
      overflow-x: hidden;
      font-family: "Cabin", sans-serif;
    }

    h1, h2, h3, h4, h5, h6{
      font-family: "Oswald", sans-serif;
    }

    /* Begin Header */
    header{
      background-color: #e3ded8;
      padding: 10px 5px 10px 5px;
    }
    header p{
      margin: auto;
      font-family: "Cabin", sans-serif;
      font-size: 12pt;
      color: #132121;
    }

    header form input {
      height: 55px;
      width: 50%;
      border: none;
      background-color: rgba(0,0,0,0);
      margin-left: 30px;
  }

    /* Begin Banner */
    section.banner {
      margin: 10px 0px 10px 30px;
      max-width: 50%;
      position: absolute;
  }
    section.banner img{
      height: 84px;
      width: 84px;
      float: left;
      margin: 5px 15px 5px 5px;
      position: relative;
    }
    section.banner p{
      font-family: "Oswald", sans-serif;
      color: #132121;
      font-size: 30pt;
      position: relative;
      padding-top: 20px;
      width: 700px;
      max-height: 84px;
    }

    /* Begin Navigation Panel */

    .topnav{
      background-color: #F5F3F1;
      height: 120px;
    }

    nav.main_nav{
      max-width: 45%;
      margin: 20px;
      float: right;
      position: relative;
    }
    nav.main_nav ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      background-color: #e3ded8;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
    nav.main_nav li{
      float: right;
    }
    nav.main_nav li a{
      display: block;
      text-align: center;
      font-size: 28px;
      font-family: "Oswald", sans-serif;
      color: #132121;
      text-decoration: none;
      margin-left: 20px;
      margin-right: 20px;
      padding: 10px;
    }

    /* Begin Index Page Top Album Section */

    /* this basic group of styles creates the outermost box for your main sections. Add other classes to sections or divs (that are the outermost container) and paste these styles in */

    .home_topsection{
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin: 0px;
    }

    /* Begin About Page Hero Section */
    section.band_group{
      max-width: 100%;
    }
    section.band_group ul{
      list-style-type: none;
    }
    section.band_group img{
      margin: 20px 0px 0px 0px;
    }

    /* Camp Section */

    .camp{
      background-image: url('../img/home/Zac at Camp.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 800px;
    }

    .campground {
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      width: 35%;
      position: relative;
      left: 22%;
      top: -120px;
  }

    .camp_center{
      display: flex;
    
      align-items: center;
      flex-direction: row;
    }

    .camp_center img{
      width: 15%;
      margin-right: 1%;
    }

    .smallcaps{
      text-transform: uppercase;
      font-size: 22px;
    }

    a.fauxbutton{
      border: 1px solid #fff;
      color: #fff;
      text-decoration: none;
      width: 150px;
      text-align: center;
      margin: 2% 0% 2% 0%;
    }

    /* Contact Section */

    .contact{
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #000;
      color: #fff;
      padding: 2% 0% 2% 0%;
    }

    .contactform{
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    .contact_left,
    .contact_right{
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: #fff;
    }

    .contactform input{
      width: 65%;
      height: 50px;
      margin: 2%;
    }

    .contactform textarea{
      width: 65%;
      height: 150px;
      margin: 2%;
    }

    .contactform button{
      width: 75px;
      height: 50px;
      margin: 2%;
    }

    input::placeholder{
      font-size: 16px;
      color: #000;
      padding-left: 10px;
    }

    textarea::placeholder{
      font-size: 16px;
      color: #000;
      padding-left: 10px;
      padding-top: 5px;
    }

    .homebanner{
      width: 100vw;
      height: 650px;
      background-color: #F5F3F1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    .musicbanner{
      width: 100vw;
      height: 650px;
      background-color: #132121;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    .tourbanner{
      width: 100vw;
      height: 650px;
      background-image: url('../img/tour/concrete\ texture.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    .aboutbanner{
      width: 100vw;
      height: 650px;
      background-image: url('../img/about/Whole\ Band\ Sit\ &\ Stand.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    .new_album{
      width: 45%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      flex-direction: row;
      color: #fff;
    }

    .grid-container-2 {
      display: flex;
      width: 95%;
      justify-content: center;
=     align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 auto;
  }

  .grid-item{
    margin: 2%;
  }




    /* Gridbox Settings */

    .gridbox{
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-direction: row;
      width: 100%;
      margin: 0 auto;
    }

    .left_gridbox,
    .right_gridbox{
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .left_gridbox ul,
    .right_gridbox ul{
      list-style-type: none;
    }

    .right_gridbox button{
      width: 120px;
      height: 55px;
      background-color: #000;
      border: none;
      color: #fff;
      font-size: 20px;
      margin: 2%;
    }

    .right_gridbox button a{
      text-decoration: none;
      color: #fff;
    }

    .circledates {
      background-color: #000;
      color: #fff;
      padding: 6px 16px;
      border-radius: 30px;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 25px;
      position: relative;
      top: -10px;
  }

    span.enlargeme{
      font-size: 26px;
    }

    


    /* Footer Section */

    footer{
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #000;
      height: 100px;
      color: #fff;
    }

  

    /* Off Canvas Menu */

    .hamburger{
      font-size: 30px;
      cursor: pointer;
      color: #000;
      display: none;
    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    #main {
      transition: margin-right .5s;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }

/* Media Queries */

/* iPad */

@media screen and (max-width: 768px){


   
}

/* iPhone 5 */

@media screen and (max-width: 320px){

  nav.main_nav ul {
display: none;
  }
  
  .hamburger{
    font-size: 30px;
    cursor: pointer;
    color: #000;
    display: inline;
  }


  .contactform {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact_left,
.contact_right{
  width: 100%;
}


}



   

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

