/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Oswald:wght@400;500&display=swap');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /* Begin Index Page Top Album Section */

   div.top_album{
     margin-top: 20px;
   }

   div.center_me{
     color: #1c1b1b;
     font-family: "Oswald", sans-serif;
     font-size: 48pt;
     text-align: center;
     margin: 20px;
   }

   div.center_me a{
     color: #1c1b1b;
     font-family: "Oswald", sans-serif;
     font-size: 32pt;
     border: 2pt solid #1c1b1b;
     text-align: center;
     text-decoration: none;
     padding: 10px;
   }

   /* Begin Index Page Zamily Section */

   div.zamily{
     float: left;
     width: 40%;
     height: 600px;
     background: #132121;
     margin-top: 50px;
   }

   div.zamily .zamily_center{
     font-family: "Oswald", sans-serif;
     font-size: 48pt;
     color: #f5f3f1;
     text-align: center;
     margin-top: 100px;
   }

   div p1{
     font-family: "Cabin", sans-serif;
     font-size: 28pt;
     color: #f5f3f1;
     text-align: center;
   }

   .zamily-grid-container {
     display: grid;
     grid-template-columns: auto auto auto;
     background-color: none;
     padding: 10px;
     margin: 10px;
   }

   .grid-item {
     background-color: none;
     padding: 5px;
     align-items: center;
   }

   /* Begin Index Page Music Section */

   section.music{
     background: #e3ded8;
     float: right;
     margin-top: 50px;
     width: 60%;
     height: 600px;
   }

   section ul.music_pics{
     flex-direction: row;
     display: flex;
     align: center;
   }

   section ul.music_pics li{
     list-style-type: none;
     flex-direction: row;
     margin: 20px;
   }

   #first{
     position: absolute;
     width: 254px;
     height: 254px;
     left: 873px;
     top: 750px;
   }

   #second{
     position: absolute;
     width: 254px;
     height: 254px;
     left: 1203px;
     top: 750px;
   }

   #top{
     position: absolute;
     width: 306px;
     height: 306px;
     left: 1010px;
     top: 724px;
   }

   div.music_center{
     position: relative;
     top: 300px;
  }

  div.music_center h1{
     font-family: "Oswald", sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 48px;
     line-height: 71px;
     display: flex;
     padding-left: 450px;
     color: #1C1B1B;
     width: 100%;
   }

   div.music_center p1{
     font-family: "Cabin", sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 28px;
     line-height: 34px;
     padding-left: 290px;
     padding-right: 290px;
     color: #1C1B1B;
     width: 100%;
   }

   div.music_center div{
     padding-left: 435px;
     margin-top: 20px;
   }

   div.music_center a{
     text-decoration: none;
     border: 2pt solid #1c1b1b;
     font-family: "Oswald", sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 36px;
     color: #1C1B1B;
     padding: 5px;
   }

   /* Camp Section */

   .camp{
     background-image: url('../img/home/Zac at Camp.jpg');
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     width: 100vw;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     min-height: 800px;
   }

   .campground {
     display: flex;
     justify-content: center;
     flex-direction: column;
     color: #f5f3f1;
     width: 35%;
     position: relative;
     left: 22%;
     top: -120px;
 }

   .camp_center{
     display: flex;
     align-items: center;
     flex-direction: row;
   }

   .camp_center img{
     width: 15%;
     margin-right: 1%;
   }

   .smallcaps{
     text-transform: uppercase;
     font-size: 22px;
   }

   a.fauxbutton{
     border: 1px solid #f5f3f1;
     color: #f5f3f1;
     text-decoration: none;
     width: 150px;
     text-align: center;
     margin: 2% 0% 2% 0%;
   }

   /* Begin About Page Hero Section */

   section.band_group{
     max-width: 100%;
   }

   section.band_group ul{
     list-style-type: none;
   }

   section.band_group img{
     width: 100vw;
     margin-top: 25px;
   }

   /* Begin Main Section of People and Descriptions */

   main.band_members{
     background-color: #e3ded8;
     padding: 25px;
   }

   main.band_members section li{
     list-style-type: none;
   }

   main.band_members section li img.left_image{
     float: left;
     margin: 25px;
   }

   main.band_members section li img.right_image{
     float: right;
     margin: 25px;
   }

   main.band_members h1{
     font-family: "Oswald", sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 48px;
     line-height: 71px;
     color: #132121;
     text-align: left;
     padding-top: 20px;
   }

   main.band_members h1.right{
     padding-left: 25px;
     padding-top: 40px;
   }

   main.band_members p{
     font-family: "Cabin", sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 28px;
     color: #132121;
     padding-bottom: 45px;
     padding-left: 25px;
     padding-right: 50px;
     padding-top: 20px;
     width: 75vw;
     height: 99px;
     background-color: #f5f3f1;
   }

   main.band_members p.left{
     width: 85vw;
     height: 109px;
     padding-left: 0px;
     margin-left: 25px;
     padding-bottom: 55px;
   }

   /* Tour Top Hero Section */

   div.logo{
     height: 500px;
     margin-top: 125px;
   }

   div.logo #concrete{
     position: absolute;
     width: 100vw;
   }

   div.logo #logo{
     position: relative;
     top: 75px;
     left: 38vw;
   }

   /* Tour Locations */

   main.tours{
     background-color: #f5f3f1;
     width: 50vw;
     margin: 125px 10px 75px 300px;
   }

   main.tours ul{
     list-style-type: none;
   }

   main.tours li h2{
     font-family: "Oswald", sans-serif;
     font-style: normal;
     font-weight: bold;
     font-size: 48px;
     line-height: 71px;
     color: #1C1B1B;
   }

   main.tours li p{
     font-family: "Cabin", sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 29px;
     color: #1C1B1B;
     margin: none;
     padding: 5px 0px 10px 0px;
   }

   section.buttons ul{
     list-style-type: none;
   }

   section.buttons{
     font-family: "Oswald", sans-serif;
     font-style: normal;
     font-weight: bold;
     font-size: 36px;
     line-height: 53px;
     display: flex;
     align-items: center;
     text-align: center;
     float: right;
     position: relative;
   }

   section.buttons a{
     text-decoration: none;
     color: #132121;
   }

   /* Music Top New Album */

   section.new_album li{
     list-style-type: none;
     background-color: #132121;
     margin-top: 125px;
     padding-top: 50px;
     padding-bottom: 75px;
     padding-left: 330px;
   }

   section.new_album h1{
     font-family: "Oswald", sans-serif;
     font-style: normal;
     font-weight: bold;
     font-size: 72px;
     line-height: 107px;
     display: flex;
     align-items: center;
     text-align: center;
     color: #f5f3f1;
     position: absolute;
     width: 455px;
     height: 112px;
     left: 840px;
     top: 369px;
   }

   section.new_album h2{
     font-family: "Oswald", sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 56px;
     line-height: 83px;
     display: flex;
     align-items: center;
     text-align: center;
     color: #f5f3f1;
     position: absolute;
     width: 383px;
     height: 90px;
     left: 876px;
     top: 481px;
   }

   /* Music Cover Grid */
   .grid-container {
     display: grid;
     grid-template-columns: auto auto auto;
     background-color: #f5f3f1;
     padding: 10px;
     margin: 20px 40px 80px 40px;
   }

   .grid-item {
     background-color: none;
     padding: 20px;
   }

    /* this basic group of styles creates the outermost box for your main sections. Add other classes to sections or divs (that are the outermost container) and paste these styles in */

    .home_topsection{
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin: 0px;
    }

    /* General Settings */
    body, ul, li, h1, h2, a, div, nav, p, form{
      margin: 0;
      padding: 0;
    }

    /* Begin Body */
    body{
      background-color: #f5f3f1;
      overflow-x: hidden;
      font-family: "Cabin", sans-serif;
    }

    h1, h2, h3, h4, h5, h6{
      font-family: "Oswald", sans-serif;
    }

    /* Begin Header */
    header{
      background-color: #e3ded8;
      padding: 10px 5px 10px 5px;
    }

    header p{
      margin: auto;
      font-family: "Cabin", sans-serif;
      font-size: 12pt;
      color: #132121;
    }

    header form input{
      height: 55px;
      width: 50%;
      border: none;
      background-color: rgba(0,0,0,0);
    }

    /* Begin Banner */
    section.banner{
      margin: 10px;
      max-width: 50%;
      position: absolute;
    }

    section.banner img{
      height: 84px;
      width: 84px;
      float: left;
      margin: 5px 15px 5px 5px;
      position: relative;
    }

    section.banner p{
      font-family: "Oswald", sans-serif;
      color: #132121;
      font-size: 30pt;
      position: relative;
      padding-top: 20px;
      width: 700px;
      max-height: 84px;
    }

    /* Begin Navigation Panel */

    nav.main_nav{
      max-width: 45%;
      margin: 20px;
      float: right;
      position: relative;
    }

    nav.main_nav ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      background-color: #e3ded8;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    nav.main_nav li{
      float: right;
    }

    nav.main_nav li:hover{
      background-color: #132121;
    }
    
    nav.main_nav li a:hover{
      color: #f5f3f1;
    }

    nav.main_nav li a{
      display: block;
      text-align: center;
      font-size: 28px;
      font-family: "Oswald", sans-serif;
      color: #132121;
      text-decoration: none;
      margin-left: 20px;
      margin-right: 20px;
      padding: 10px;
    }

    /* Contact Section */

    .contact{
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #132121;
      color: #f5f3f1;
      padding: 2% 0% 2% 0%;
    }

    .contactform{
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    .contact_left,
    .contact_right{
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: #f5f3f1;
    }

    .contactform input{
      width: 65%;
      height: 50px;
      margin: 2%;
      background-color: #f5f3f1;
    }

    .contactform textarea{
      width: 65%;
      height: 130px;
      margin: 2%;
      background-color: #f5f3f1;
    }

    .contactform button{
      width: 100px;
      height: 45px;
      margin: 2%;
      background-color: #f5f3f1;
      color: #132121;
    }

    input::placeholder{
      font-size: 16px;
      color: #132121;
      padding-left: 10px;
    }

    textarea::placeholder{
      font-size: 16px;
      color: #132121;
      padding-left: 10px;
      padding-top: 5px;
    }



    /* Footer Section */

    footer{
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #132121;
      height: 100px;
      color: #f5f3f1;
    }



    /* Off Canvas Menu */

    .hamburger{
      font-size: 30px;
      cursor: pointer;
      color: #132121;
      display: none;
    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    #main {
      transition: margin-right .5s;
    }

    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
